$borderHeight: 50px;
$outerColor: #000;
$borderRadius: 20px;

:focus {    
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
}

#application-root {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $outerColor;

    .header {
        text-align: center;
        height: $borderHeight;
        width: 100%;
        background-color: $outerColor;
        
        .header-image {
            height: 30px;
            margin-top: 0px;
            width: 100%;
        }

        .header-logo {
            position: absolute;
            top: 7px;
            left: calc(50% - 110px);
            height: 20px;
        }
    }
    
    main {    
        .route-container {
            position: relative;
            background-color: rgba(100,100,100,0.75);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $borderRadius;

            canvas {
                position: absolute;
            }

            .outlet-container {
                position: absolute;
            }

            .vignette {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                pointer-events: none;
            }

            .body-text {
                text-align: center;
                width: 100%;
            }
        }
    }
    
    .footer {
        text-align: center;
        height: $borderHeight;
        background-color: $outerColor;
        bottom: 0px;
        position: absolute;
        width: 100%;      
        overflow: hidden;  
        
        .footer-image {
            height: 30px;
            margin-top: 20px;
            width: 100%;
        }

        .footer-light {
            position: absolute;
            bottom: 2px;
            right: 2px;
        }
    }
}
