<div id="application-root">
    <div class="header">
        :::: O
    </div>

    <main>
        {{route-container}}
    </main>

    <div class="footer">
        :::: ( 0 0 O )
    </div>

    <div class="command-bar">
        command
    </div>
</div>