<div id="application-root">
    <div class="header">
        <img class="header-image" alt="wood grain header" src="assets/headerTexture.jpg">
    </div>

    <main>
        {{iza-computer}}
    </main>

    <div class="footer">
        <img class="footer-image" alt="wood grain footer" src="assets/headerTexture.jpg">
        <img class="footer-light" src="assets/redLight.png">
        <img class="header-logo" src="assets/logo.png">
    </div>
</div>
<div id="small-content">
    <div>You are seeing this shitty page because your screen does not meet the size requirements for the MAGICROBOTS.COM experience.</div>
    <div>MAGICROBOTS.COM is best viewed on an old desktop computer with a big fat CRT monitor and an old clacky keyboard.</div>
    <img src="assets/tooSmall_logos.png" class="too-small-img" width="100%" height="auto" alt="logos">
    <h1>MAGIC ROBOTS is the private arm of the <a href="https://www.departmentofrobotics.com/" target="_new">V.5. Department of Robotics</a> (v5DoR).</h1>
    <div>10-15 years ago Robot sightings became less and less frequent. Many assumed they had disappeared.</div>
    <div>This was not true, of course. Our close monitoring and continued communication with the Robots never faltered, regardless of a media spotlight. Our hard work continued.</div>
    <div>Public perception of lack of need however, effected the v5DoR to lose public funding. MAGIC ROBOTS was formed as a private entity to help fund the <a href="https://www.departmentofrobotics.com/" target="_new">v5DoR</a>'s efforts. We chose fashion and street wear to help keep Magic Robots in the collective consciousness of the public and maintain awareness of their powerful and important history, as well as to educate about their true nature in the case that you are fortunate enough to encounter a now rare sighting.</div>
    <img src="assets/tooSmall_screens.png" class="too-small-img" width="100%" height="auto" alt="screens">
</div>