<div id="application-root">
    <div class="header">
        top part
    </div>

    <main>
        <div class="content-container">
            {{outlet}}
        </div>
        
        {{the-nav}}
    </main>
</div>