<div id="application-root">
    <div class="header">
        <img class="header-image" alt="wood grain header" src="assets/headerTexture.jpg">
    </div>

    <main>
        {{iza-computer}}
    </main>

    <div class="footer">
        <img class="footer-image" alt="wood grain footer" src="assets/headerTexture.jpg">
        <img class="footer-light" src="assets/redLight.png">
        <img class="header-logo" src="assets/logo.png">
    </div>
</div>
<div id="small-content">
    input
</div>
